/* ----------------- GENERAL ----------------*/
*{
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9efe4;
    font-family: 'Inter';
}

button {
    border: none;
    cursor: pointer;
}

/* ---------------- BUTTONS ---------------- */
.primaryButton {
    background-color: #FDC284;
    box-shadow: 4px 4px 4px #000505;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #442419;
    padding: 18px 30px 12px 30px;
    text-transform: uppercase;
 }

 .primaryButton:hover {
    background-color: #f79221;
 }

.secondaryButton {
    height: 48px;
    background-color: #442419;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #f9efe4;
    padding: 12px 24px;
    text-transform: uppercase;
 }

 .secondaryButton:hover{
    background-color: #a67235;
 }

.primaryButton > div, .secondaryButton > div {
    display: flex;
    gap: 16px;
}

.headerButton {
    background-color: transparent;
    padding: 0px 16px;
    height: 94px;
    font-size: 15px;
    float: right;
}

.headerButton:hover {
    background-color: #d3d374;
}

.ziuretiButton {
    margin: 312px auto auto auto;
    width: 196px;
    z-index: 2;
}

.logoButton{
    background-color: transparent;
    margin-left: 24px;
}

/* ----------------- HEADER ------------------ */
.header{
    height: 94px;
    background-color: #bbbb5a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.logo{
    float: left;
    height: 86px;
    width: 148px;
}

.headerBasket {
    padding: 0px 40px;
    float: right;
}

/* ----------------- FONTS ----------------- */
h1 {
    font-size: 40px;
    color: #f79221;
    margin-bottom: 48px;
}

h2 {
    font-family: 'Bathilda';
    font-size: 60px;
    color: #442419;
    font-weight: lighter;
}

.light30Header {
    font-size: 30px;
    color: #f9efe4;
    font-weight: 600;
    text-transform: uppercase;
}

.dark30Header {
    font-size: 30px;
    color: #442419;
    font-weight: 600;
    text-transform: uppercase;
}

.dark30Text {
    font-size: 30px;
    color: #442419;
}

.dark25Text {
    font-size: 25px;
    color: #442419;
}

.light30Text {
    font-size: 30px;
    color: #f9efe4;
}

.light25Text {
    font-size: 25px;
    color: #f9efe4;
}

.light20Text {
    font-size: 20px;
    color: #f9efe4;
}

.lightBold20Text {
    font-size: 20px;
    color: #f9efe4;
    font-weight: 600;
}

.descriptionText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.black25Text {
    font-size: 25px;
    color: #000000;
}

.blackBold25Text {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
}

/* ----------------- MENIU --------------- */
.rinktisMus {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    padding: 64px 20px;
    background-color: #442419;
}

.rinktisMus > div {
    width: 400px;
    text-align: center;
    height: fit-content;
}

.rinktisMus > div > p {
    margin: 16px 0px 0px 0px;
}

.meniuItemGrid{
    display: grid;
    height: 516px;
}

.meniuItem, .ziuretiButton {
    grid-column: 1;
    grid-row: 1;
}

 .meniuIntro {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
 }

 .meniuIntro > div {
    padding: 64px 64px 54px 109px;
 }

.meniu {
    padding: 88px 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
    justify-content: center;
}

.meniuItem {
    width: 377px;
    height: 516px;
    background-color: #bbbb5a;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.meniuItem:hover {
    filter: brightness(80%);
}

.meniuItem > div {
    margin: 24px;
}

.meniuItem > img {
    height: 377px;
    width: 377px;
}

.kaina {
    margin: 4px 0px;
}

/*----------------- CONTACTS ------------------*/

.contactsInfo {
    margin-top: 94px;
    height: 80vh;
    width: 100%;
    background-image: url(https://lh6.googleusercontent.com/HxpkLz-3y_tcpbmve3R6gWK3xJ13WrC9GHfHo_W2BQxeSRdVwaIyfh7yLgL791npYkI=w2400);
    background-position: center;
    background-size: cover;
    text-align: left;
    display: flex;
    justify-content: center;
}

.contacts {
    flex-basis: 31%;
    background: #F9EFE4;
    padding: 30px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    height: 30%;
    margin: 15%;
}

.contacts img {
    width:  50px;
    height: 50px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.contacts p {
    margin-top: 2%;
}

.where {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.susisiekimas {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10%;
}

.susisiekimas input {
    width: 50%;
}

.column-susisiekimas {
    flex: 50%;
    padding: 10px;
}

.sendButton{
    float: right;
    margin-right: 25%;
}

.message {
    height: 200px;
}

.apiePaveiksl > div {
    height: 400px;
    width: 400px;
    background-color: #fdc284;
    border-radius: 50%;
}

.apiePaveiksl > img {
    height: 400px;
}

.mylimiausiuNuotraukos {
    display: flex;
    justify-content: center;
    gap: 0px 48px;
    padding: 40px 48px 68px 48px;
}

.mylimiausiuNuotraukos > button {
    height: 172px;
    width: 172px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    border: none;
}

.mylimiausiuNuotraukos > button > img{
    height: 172px;
    width: 172px;
    border-radius: 50%;
}

.mylimiausiuNuotraukos > button > img:hover{
    transform: scale(1.15);
}

.mylimiausi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #442419;
}

.laukiameJusu {
    background-color: #442419;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kepyklosInfo {
    background-color: #bbbb5a;
    flex-direction: row;
}

.kontaktai {
    background-color: #bbbb5a;
    display: flex;
    flex-direction: row;
}

.zaliasAprasymas {
    background-color: #bbbb5a;
}

.zaliasAprasymas img {
    height: 700px;
}

.oranzinisAprasymas {
    background-color: #fdc284;
}

.oranzinisAprasymas img {
    height: 700px;
}
/*----------------- HOMEPAGE ------------------*/

.apie {
    margin-top: 94px;
    display: flex;
}

.apieAprasymas {
    flex-direction: column;
    text-align: right;
    margin: 150px 150px 150px 0px;
}

.apieAprasymas > h1 {
    color: #fdc284;
}

.apieAprasymas > p {
    margin-top: -30px;
    margin-bottom: 45px;
}

.apiePaveiksl {
    justify-content: left;
    display: flex;
    align-items: center;
}

.apiePaveiksl > div {
    height: 400px;
    width: 400px;
    background-color: #fdc284;
    border-radius: 50%;
    margin: 20px 50px;
}

.apiePaveiksl > img {
    height: 500px;
    margin-right: -525px;
    z-index: 2;
}

.mylimiausi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #442419;
}

.mylimiausi > p {
    margin-top: 25px;
}

.mylimiausiuNuotraukos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 48px;
    padding: 40px 48px 68px 48px;
}

.mylimiausiuNuotraukos > button {
    height: 172px;
    width: 172px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    border: none;
}

.mylimiausiuNuotraukos > button > img{
    height: 172px;
    width: 172px;
    border-radius: 50%;
}

.mylimiausiuNuotraukos > button > img:hover{
    transform: scale(1.15);
}

.mylimiausi > button {
    margin-bottom: 50px;
}

.aprasymai {
    margin: 100px;
}

.oranzinisAprasymas {
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.zaliasAprasymas {
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.oranzinisAprasymas > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 40px 30px;
}

.zaliasAprasymas > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    margin: 40px 30px;
}

.laukiameJusu {
    background-color: #442419;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.laukiameJusu > p {
    margin: 50px 0px;
}

.kepyklosInfo {
    display: flex;
    background-color: #bbbb5a;
    color: #f9efe4;
    flex-direction: row;
    margin: 0px 80px 100px;
}

.kepyklosInfo > .light25Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 40px 120px 40px 30px;
}

.kepyklosInfo > .light25Text > .pav {
    margin-bottom: 30px;
}

.kepyklosInfo > .light25Text > .darboLaikas {
    margin-top: 30px;
}

.kepyklosInfo > div > img {
    height: 300px;
}

.kontaktai {
    background-color: #bbbb5a;
    color:#f9efe4;
    display: flex;
    flex-direction: row;
}

.kontaktai > .light20Text {
    margin: 60px 10px 40px 60px;
}

.kontaktuTarpas {
    margin-bottom: 30px;
}

.kontaktai > .light20Text > div {
    margin: 20px 0px 60px;
}

/*----------------- ABOUT US ------------------*/

.aboutUsInfo {
    background-color: #442419;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.aboutUsDescription{
    text-align: right;
    width: 436px;
    margin-right: 50px;
}

.aboutUsKK{
    margin-right: 50px;
    margin-top: 100px;
    text-align: right;
}

.aboutUsImage{
    height: 602px;
}

.kasMes{
    margin-bottom: 80px;
    text-align: center;
    width: 1146px;
}

/*---Social media icons----*/

.socials {
    width:  50px;
    height: 50px;
    object-fit: scale-down;
    margin-right: 10px;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    .changingImages {
        background-color:  #f9efe4;
        display: flex;
        flex-direction: row;
        width: 845px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    .changingImage{
        width: 350px;
    }
    
    .changingImText{
        margin-left: 60px;
        width: 346px;
        text-align: left;
        margin-top: 120px;
    }

        
/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
        
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* Product page */

.productImage{
    width: 631px;
   /* margin-right: 50px;*/
}

.productPage {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
 }

 .productPage > div {
    padding: 84px 60px 64px 60px;
 }

 .aboutProduct{
    text-align: justify;
    line-height: 50px;
    margin-bottom: 20px;

 }

 .productName{
    color: #442419;
    margin-bottom: 10px;
 }

 .productPrice{
    color: #E69D48;
    font: bold;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
 }

 
.ziuretiButton2 {
    margin: 40px auto auto auto;
    width: 196px;
    z-index: 2;
}

.productInfo {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #442419;
    margin-right: 60px;
    margin-left: 60px;
}

.papildInfo{
    margin-top: 30px;
}

.papildInfo2 {
    margin-top: 30px;
    margin-bottom: 60px;
}





form {
    width: 300px;

    text-align: center;
    padding-top: 20px;
    display: flex;
    vertical-align: middle;

  }

.value-button {
    display: inline-block;
    margin: 0px;
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #f3e0c1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  .value-button:hover {
    cursor: pointer;
    color: #f79221;
  }
  
  form #decrease {
    margin-right: -4px;
  }
  
  form #increase {
   margin-left: 1.5px;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    margin: 0px;
    width: 120px;
    height: 60px;
    font-size: large;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }